<h1> WellFit Tracker</h1>

<h2>Exercise Table</h2>

<table style="width:100%">
  <tr>
    <th>Exercise</th>
    <th>Sets</th>
    <th>Reps</th>
    <th>Timer</th>
  </tr>
  <tr>
    <td>Biceps Curl</td>
    <td>4 Sets</td>
    <td>10-12 reps</td>
  </tr>
  <tr>
    <td>Chest Press</td>
    <td>4 Sets</td>
    <td>8-10 reps</td>
  </tr>
</table>

<p></p>
