//add if logged in to add username

<div class="container jumbotron-container">
  <div class="jumbotron">
    <h1>Welcome to WellFit!</h1>   
    <br>   
    <p>WellFit is your one-stop shop for all your nutritional needs.</p>
  </div>    
</div>
</div> 
