    <div class="container flex h-screen max-w-5xl mx-auto m-8 items-center">
        <div class="m-auto">
            <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white items-center">
          Welcome to WellFit!
            </h2>
            <br>
            <p class="w-full my-2 text-2xl leading-tight text-center text-white items-center">WellFit is your one-stop shop for all your nutritional needs</p>
        </div>
    </div>
