<div class="row">
  <div class="col-auto">

    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

      </div> <section class="container content-section">
            <h2 class="section-header">Your Favorites</h2>
            {{!-- <div class="favorite-row">
                <span class="favorite-item favorite-header favorite-column">RECIPE</span>
                <span class="favorite-edit favorite-header favorite-column">EDIT</span>
            </div> --}}
 {{#each recipes as |recipe| }}
<div class="favorite-items">
  <div class="favorie-row">
    <div class="favorite-item favorite-column">
      <img class="favorite-item-image" src="{{recipe.image}}" alt="favories" width="'100", height="100">
      <span class="favorite-item-title"><a href="/recipe/{{recipe.id}}">{{recipe.name}}</a></span>
      <div class="favorite-edit favorite-column">
          <button class="btn btn-danger" type="button">REMOVE</button>
        </div>
    </div>
  </div>
</div>
{{/each}}

<script src="./js/profile.js"></script>
<script src="./js/favorites.js"></script>