
  <div class="container">
  <div class="page-title">
    <div class="row">
      <div class="col-lg-6">
        <h1>Search Results</h1>
      </div>
  </div>
  <form class="form search-form">
  <div class="form-group">
    <label for="recipe-search" class="recipe-search">Start a new search:</label>
    <input class="form-input" type="text" id="recipe-search" />
  </div>
    <button class="btn btn-primary" type="submit">Search</button>
  {{#each recipes as |recipe| }}
  <div class="post">
    <h3><a class="recipe-link" href="/recipe/{{recipe.id}}">{{recipe.name}}</a></h3>
    <p><small>Calories: {{recipe.calories}}</small></p>
    <p><img class="recipe-image" src="{{recipe.image}}"></p>
  </div>
   
  {{/each}}


<script src="\js\search.js"></script>