<form class="form search-form">
  <div class="form-group">
    <label for="recipe-search">Recipe:</label>
    <input class="form-input" type="text" id="recipe-search" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
  {{#each recipes as |recipe| }}
    <div class="row mb-4 project">
      <div class="col-md-5">
        <h2>
          <!-- Call helper function with triple brackets to render the emoji span as HTML -->
          <a href="/recipe/{{recipe.id}}">{{recipe.name}}</a>
        </h2>
        <img src="{{recipe.image}}">
      </div>
      <div class="col-md-7">
        
      </div>
    </div>
  {{/each}}


<script src="\js\search.js"></script>