<div class="container">
  <div class="header-container">
  <h1>Search for a Recipe</h1>
  </div>
</div>

<br>

<form class="form search-form">
  <div class="form-group">
    <label for="recipe-search">Recipe:</label>
    <input class="form-input" type="text" id="recipe-search" />
  </div>
    <button class="btn btn-primary" type="submit">Search</button>
  </div>

</form>

<script src="./js/search.js"></script>