<h2>Handlebars template to populate a table</h2>

<!-- The script element is used to define the Handlebars template -->
<script type="text/x-handlebars-template" id="tableTemplate">
<table>
<thead>
  <tr>
    {{#each array.[0]}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each array}}
    <tr>
    	{{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
</script>
