<!-- Loop over each object in the projects array -->
<h1>WellFit Tracker</h1>

<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

{{!-- {{#each workouts as |workout| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <ul>
      <li>{{workout.exercise}}</li>
      <li>{{workout.bodypart}}</li>
      <li>{{workout.equipment}}</li>
    </ul>
  </div>
</div>
{{/each}} --}}

<script src="./js/workoutSearch.js"></script>
